*.bin
.vscode
.ipynb_checkpoints
keys_secrets.json
mongo_uri.txt
*__pycache__*
.twitter_keys.yaml
*.log
wanderingpole/Model_berttweet/
wanderingpole/tests/
Model_berttweet/
Model_berttweet_Jan2021/
Model_roberta/
runs/
tests/
model/